TravelAgencyApp/vendor/
TravelAgencyApp/node_modules/
TravelAgencyApp/npm-debug.log
TravelAgencyApp/yarn-error.log
TravelAgencyApp/.idea/

# Laravel 4 specific
TravelAgencyApp/bootstrap/compiled.php
TravelAgencyApp/app/storage/

# Laravel 5 & Lumen specific
TravelAgencyApp/public/storage
TravelAgencyApp/public/hot

# Laravel 5 & Lumen specific with changed public path
TravelAgencyApp/public_html/storage
TravelAgencyApp/public_html/hot

TravelAgencyApp/storage/*.key
TravelAgencyApp/.env
TravelAgencyApp/Homestead.yaml
TravelAgencyApp/Homestead.json
TravelAgencyApp/.vagrant
TravelAgencyApp/.phpunit.result.cache
